<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="teamsevendream.paspaintracker.main">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="pas-pain-tracker"
                    android:pathPattern="/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".PersonalEntry" />
        <activity android:name=".PersonalView" />
        <activity android:name=".SpiderInput" />
        <activity android:name=".SpiderOutput" />
        <activity android:name=".RecordPain" />
        <activity android:name=".CalendarPage" />
        <activity android:name=".ViewPain" />
        <activity android:name=".Search" />
        <activity android:name=".MapPage" />
        <activity android:name=".VideoPage" />
    </application>

</manifest>